<div class="container">
    <header class="d-flex flex-wrap py-3">
      <a href="/" class="d-flex col-md-0 mb-0 mb-md-0 text-light text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-0 mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-light">About me</a></li>
      </ul>
    </header>
  </div>
